* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  background-color: #1B9C85;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



/**
* ? Lista de Tareas 
**/

.tareas-lista-principal {
  width: 560px;
  min-height: 500px;
  background-color: #73A9AD;
  padding: 15px 5px 15px 5px;
  margin: 10px;
  justify-content: center;
  border-radius: 10px;
}

h1 {
  color: #56568a;
  font-size: 25px;
  font-family: monospace, sans-serif;
  text-align: center;
  margin: 12px 0;
}



